body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #83a4d4, #b6fbff);
    overflow-x: hidden;
}

h1 {
    color: #333;
}

.button-container {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}


#scoreList {
    list-style-type: none;
    padding: 0;
}

#scoreList li {
    margin: 10px 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background-color: #6a9bb7; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    position: relative;
    height: 60px; 
}

.left-button {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.left-button .button {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.left-button .button:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

.right-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 15px;
}

.right-button .button {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.right-button .button:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

.button.no-style {
    background-color: transparent;
    border: none;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.search-bar {
    margin-bottom: 40px;
}

.search-bar input[type="text"] {
    width: 400px;
    padding: 10px;
    border-radius: 24px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 24px;
    background-color: #4285f4;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #357ae8;
}

.basic-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.basic-button:hover {
    text-decoration: underline;
    font-size: 1.1em;
}
